html{
	background-color: #ffffcc;
}

h1{
	font-size: 60px;
}

.title{
	font-size: 30px;
	font-weight: bold;
}

.worlded{
	height: 200px;
	width: 400px;
	padding: 20px;
}

.intfundraising{
	height: 200px;
	width: 400px;
	padding: 20px;
}

.roomtoread{
	height: 200px;
	width: 400px;
	padding: 20px;
}

.worldeddonation{
	font-size: 25px;
}