html{
	background-color: #ffffcc;
}

h1{
	font-size: 60px;
}

table{
	border: black solid 5px;
	margin: auto;
	width: 1300px;
	height: 600px;
	text-align: center;
}

.reasons{
	border: none;
	height: 50px;
	width: 100px;
	font-size: 50px;
}

.column1{
	vertical-align: top;
	padding: 20px;
	border: black solid 2px;
}

.column2{
	vertical-align: top;
	padding: 20px;
	border: black solid 2px;
}

.column3{
	vertical-align: top;
	padding: 20px;
	border: black solid 2px;
}

img{
	width: 1300px;
	height: 320;
}